doctype 5
html
  head
    title= title
    meta(name="viewport",content="width=1024", initial-scale="2")

    link(rel='stylesheet', href='/js-lib/css/external/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/js-lib/css/external/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/js-lib/css/external/jquery/jquery.tooltip.css')

    script(src='/js-lib/js/external/jquery/jquery-1.8.2.min.js')
    script(src='/js-lib/js/external/require/require.js')
    script(src='/js-lib/js/require/RequireImports.js')
    script(src='/js-lib/js/external/jquery/jquery.tooltip.min.js')
    script(src='/js-lib/js/external/jquery/jquery.event.drag-2.0.min.js')
    script(src='/js-lib/js/external/d3/d3.v2.js')
    script(src='/js-lib/js/external/d3/plugins.js')
    script(src='/js-lib/js/external/underscore/underscore-min.js')
    script(src='/js-lib/js/external/underscore/underscore.string.js')
    script(src='/js-lib/js/external/underscore/underscore.mixins.js')

    script(src='/javascripts/formatting.js')
  body
    block content
